<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/index.css">
    <link href="https://fontawesome.com/icons">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
      <nav>
        <h3>Company Name</h3>
        <div class="navitems">
            <h5 class="tabs"><a href="">Contact us</a></h5>
            <h5 class="tabs"><i class="fa-solid fa-user-unlock"><a href="">Sign in/Create an account</a></i></h5>
            <h5 class="tabs"><a href="">Cart </a></h5>
        </div>
    </nav>
    </div>

    <div class="home">
    <P>Home/Photobooks</P>
    </div>

    <div class="card mb-3" style="max-width: 900px; max-height: 450px;">
      <div class="row">
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title">Delightful Photobooks</h1>
            <p class="card-text">Keep your best memories between our covers, in high resolution print and top-notch quality.</p>
            <a href="#" class="btn btn-primary">Go somewhere > </a>
          </div>
        </div>
        <div class="col-md-4">
          <img class="image" src="https://pbx2-myprints-cdn.getprintbox.com/media/editorcomponent/template-image-668/2.jpg" alt="...">
        </div>
      </div>
    </div>

       

    <div class="secondarea">
      <div>
        <img src="https://myprints.co.ke/img/cms/landingpage/photobooks/sizes.png" alt="">
      </div>
      <div class="paragraph">
        <h1>Find your size and shape</h1>
        <p>Our professional photobooks are easy to choose.We've narrowed down the options to the most popularr choices.Albums are available in various sizes.Vertical,horizontal and square formats.Fit the shape and size of your photobooks to your needs.</p>
    </div>
  </div>


    <div></div>

    <p style="font-size:60px;margin-left: 140px;">Choose to be extraordinary</p>
    <div class="fourtharea">
      <div class="paragraph">
        <p>With a special lay flat binding, our photobooks open out perfectly flat to showcase your best images across two pages. Along with professional printing, our photobooks are the perfect wedding gift or family keepsake.</p>
      </div>
      <div>
      <img class="imagee"src="https://myprints.co.ke/img/cms/landingpage/photobooks/layflat.png" alt="">
    </div>
  </div>


    
    

    <div class="card mb-3" style="max-width: 900px; max-height: 450px;">
        <div class="row">
          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title">Ready to make your photobooks?</h1>
              <p class="card-text">Some moments in our lives deserve a unique recognition. Choose the cover style, paper, and fittings, and create your high-quality photobook.</p>
              <a href="#" class="btn btn-primary">Create your Photobook > </a>
            </div>
          </div>
          <div class="col-md-4">
            <img class="image" src="https://pbx2-myprints-cdn.getprintbox.com/media/editorcomponent/template-image-666/2-2.jpg" alt="...">
          </div>
        </div>
      </div>

    
<div class="footer">
<div class="row">
  <div class="col-md-3">
  <h1>STORE INFORMATIOM</h1>
  <P>My Prints LTD</P>
  <P>Industrial Area Road A</P>
  <P>Off Enterprise Rd,Safari close</P>
  <P>+254717950950</P>
  <P>Info@myprints.co.ke</P>
</div>
<div class="col-md-3">
  <h1>STORE INFORMATIOM</h1>
  <P>My Prints LTD</P>
  <P>Industrial Area Road A</P>
  <P>Off Enterprise Rd,Safari close</P>
  <P>+254717950950</P>
  <P>Info@myprints.co.ke</P>
</div>
<div class="col-md-3">
  <h1>STORE INFORMATIOM</h1>
  <P>My Prints LTD</P>
  <P>Industrial Area Road A</P>
  <P>Off Enterprise Rd,Safari close</P>
  <P>+254717950950</P>
  <P>Info@myprints.co.ke</P>
</div>
<div class="col-md-3">
  <h1>STORE INFORMATIOM</h1>
  <P>My Prints LTD</P>
  <P>Industrial Area Road A</P>
  <P>Off Enterprise Rd,Safari close</P>
  <P>+254717950950</P>
  <P>Info@myprints.co.ke</P>
</div>
</div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</html>