<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/login.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <nav>
          <h3>Company Name</h3>
          <div class="navitems">
              <h5 class="tabs"><a href="">Contact us</a></h5>
              <h5 class="tabs"><a href="">Sign in/Create an account</a></h5>
              <h5 class="tabs"><a href="">Cart</a></h5>
          </div>
      </nav>
      </div>
      <div class="store">
      <a href="">Store > </a>Authentication
    </div><br/>
    <div class="auth">
<h1 class="auth">AUTHENTICATION</h1><br/>
<div id="horizontal-line"></div>

</div><br/>
<div class="loginforms" class="row">
      <div class="createaccount" class="col-md-6">
        <h1 class="heading" style="text-align:center;">CREATE AN ACCOUNT</h1><br/>
        <div id="horizontal-line"></div>
        <form>
            <p>Please enter your email address to create an account.</p>
        <label>Email address</label><br/>
        <input class="input" type="email"><br/><br/>
        <a href="#" class="btn btn-primary">CREATE AN ACCOUNT</a>
        </form>
      </div>
<div class="signin" class="col-md-6">
    <h1 class="heading" style="text-align:center;">ALREADY REGISTERED?</h1><br/>
    <div id="horizontal-line"></div>
    <form>
        <label >Email address</label><br/>
        <input class="input" type="email"><br/>
        <label>Password</label><br/>
        <input class="input" type="password"><br/><br/>
        <a href="">Forgot your password?</a><br/>
        <a href="#" class="btn btn-primary">SIGN IN</a>
    </form>
</div>

    </div><br/><br/>



      <div class="footer">
        <div class="row">
          <div class="col-md-3">
          <h1>STORE INFORMATIOM</h1>
          <P>My Prints LTD</P>
          <P>Industrial Area Road A</P>
          <P>Off Enterprise Rd,Safari close</P>
          <P>+254717950950</P>
          <P>Info@myprints.co.ke</P>
        </div>
        <div class="col-md-3">
          <h1>STORE INFORMATIOM</h1>
          <P>My Prints LTD</P>
          <P>Industrial Area Road A</P>
          <P>Off Enterprise Rd,Safari close</P>
          <P>+254717950950</P>
          <P>Info@myprints.co.ke</P>
        </div>
        <div class="col-md-3">
          <h1>STORE INFORMATIOM</h1>
          <P>My Prints LTD</P>
          <P>Industrial Area Road A</P>
          <P>Off Enterprise Rd,Safari close</P>
          <P>+254717950950</P>
          <P>Info@myprints.co.ke</P>
        </div>
        <div class="col-md-3">
          <h1>STORE INFORMATIOM</h1>
          <P>My Prints LTD</P>
          <P>Industrial Area Road A</P>
          <P>Off Enterprise Rd,Safari close</P>
          <P>+254717950950</P>
          <P>Info@myprints.co.ke</P>
        </div>
        </div>
        </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</html>