<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/login.css">
    <link rel="stylesheet" href="/static/contact.css">
    <link rel="stylesheet" href="/static/myaccount.css">   
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <nav>
          <h3 class="companyn"><a href="/templates/index.html">Company Name</a></h3>
          <div class="navitems">
              <h5 class="tabs"><a href="/templates/contact.html">Contact us</a></h5>
              <h5 class="tabs"><a href="/templates/login.html">Sign in/Create an account</a></h5>
              <h5 class="tabs"><a href="">Cart</a></h5>
          </div>
      </nav>
      <div id="horizontall-line"></div>
      </div>
      <div class="store">
      <a href="/templates/index.html">Store > </a>My Account
    </div><br/>

    <div class="auth">
        <h1 style="text-align:center;" class="auth">MY ACCOUNT</h1>
        <div id="horizontal-line"></div>
        </div>
        <div>
        <P style="margin-left: 90px;text-align:center;">Welcome to your account.Here you can manage all of your personal information and orders</P>
      </div>

      <div class="main-container">
        <div class="cards">

          <a style="text-decoration:none;" href="/templates/orderhistory.html">
          <div class="card card-1">
            <h2 class="card__title">ORDER HISTORY AND DETAILS</h2>
          </div>
        </a>

          <a style="text-decoration:none;" href="/templates/mycreditslips.html">
          <div class="card card-2">
            <h2 class="card__title">MY CREDIT SLIPS</h2>
          </div>
        </a>

        <a style="text-decoration:none;" href="/templates/myaddresses.html">
          <div class="card card-3">
            <h2 class="card__title">MY ADDRESSES</h2>
          </div>
        </a>

          <a style="text-decoration:none;" href="/templates/mypersonalinfo.html">
          <div class="card card-4">
            <h2 class="card__title">MY PERSONAL INFORMATION</h2>
          </div>
        </a>

          <a style="text-decoration:none;" href="/templates/myprojects.html">
          <div class="card card-5">
            <h2 class="card__title">MY PROJECTS</h2>
          </div>
        </a>

          <a style="text-decoration:none;" href="/templates/myvouchers.html">
          <div class="card card-1">
            <h2 class="card__title">MY VOUCHERS</h2>
          </div>
        </a>

        </div>
      </div>
    
    
        <div class="footer">
        <div class="row">
          <div class="col-md-3">
          <h1>STORE INFORMATIOM</h1>
          <P>My Prints LTD</P>
          <P>Industrial Area Road A</P>
          <P>Off Enterprise Rd,Safari close</P>
          <P>+254717950950</P>
          <P>Info@myprints.co.ke</P>
        </div>
        <div class="col-md-3">
          <h1>STORE INFORMATIOM</h1>
          <P>My Prints LTD</P>
          <P>Industrial Area Road A</P>
          <P>Off Enterprise Rd,Safari close</P>
          <P>+254717950950</P>
          <P>Info@myprints.co.ke</P>
        </div>
        <div class="col-md-3">
          <h1>STORE INFORMATIOM</h1>
          <P>My Prints LTD</P>
          <P>Industrial Area Road A</P>
          <P>Off Enterprise Rd,Safari close</P>
          <P>+254717950950</P>
          <P>Info@myprints.co.ke</P>
        </div>
        <div class="col-md-3">
          <h1>STORE INFORMATIOM</h1>
          <P>My Prints LTD</P>
          <P>Industrial Area Road A</P>
          <P>Off Enterprise Rd,Safari close</P>
          <P>+254717950950</P>
          <P>Info@myprints.co.ke</P>
        </div>
        </div>
        </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</html>