<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/login.css">
    <link rel="stylesheet" href="/static/contact.css">
    <link rel="stylesheet" href="/static/myaccount.css">   
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <nav>
          <h3 class="companyn"><a href="/templates/index.html">Company Name</a></h3>
          <div class="navitems">
              <h5 class="tabs"><a href="/templates/contact.html">Contact us</a></h5>
              <h5 class="tabs"><a href="/templates/login.html">Sign in/Create an account</a></h5>
              <h5 class="tabs"><a href="">Cart</a></h5>
          </div>
      </nav>
      <div id="horizontall-line"></div>
      </div>
      <div class="store">
      <a href="/templates/index.html">Store > </a><a href="/templates/myaccount.html">My Account ></a> My Vouchers
    </div><br/>

    <div class="auth">
        <h1 class="auth">MY VOUCHERS</h1>
        <div id="horizontal-line"></div>
       
          <div id="horizontal-line"></div>    
        </div>
       <div>
        <a style="text-decoration:none;color:darkgrey;margin-left:80px;font-weight:500px;font-size:20px;"href="/templates/myaccount.html">< BACK TO YOUR ACCOUNT</a>
       </div>
      <div class="footer">
        <div class="row">
          <div class="col-md-3">
          <h1>STORE INFORMATIOM</h1>
          <P>My Prints LTD</P>
          <P>Industrial Area Road A</P>
          <P>Off Enterprise Rd,Safari close</P>
          <P>+254717950950</P>
          <P>Info@myprints.co.ke</P>
        </div>
        <div class="col-md-3">
          <h1>STORE INFORMATIOM</h1>
          <P>My Prints LTD</P>
          <P>Industrial Area Road A</P>
          <P>Off Enterprise Rd,Safari close</P>
          <P>+254717950950</P>
          <P>Info@myprints.co.ke</P>
        </div>
        <div class="col-md-3">
          <h1>STORE INFORMATIOM</h1>
          <P>My Prints LTD</P>
          <P>Industrial Area Road A</P>
          <P>Off Enterprise Rd,Safari close</P>
          <P>+254717950950</P>
          <P>Info@myprints.co.ke</P>
        </div>
        <div class="col-md-3">
          <h1>STORE INFORMATIOM</h1>
          <P>My Prints LTD</P>
          <P>Industrial Area Road A</P>
          <P>Off Enterprise Rd,Safari close</P>
          <P>+254717950950</P>
          <P>Info@myprints.co.ke</P>
        </div>
        </div>
        </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</html>